@import 'variables.scss';
@import 'typo.scss';
@import 'mixins.scss';

*, :after, :before {
  box-sizing: border-box;
}

* {
  outline: none;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

html {
  font-size: 10px;
}

html,
body,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Suisse Intl';
  font-weight: 300;
  line-height: 28px;
  color: $color-primary;
  font-size: $default-font-size;
}


